{
  "presets": [
    "es2015"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-runtime",
    "transform-es2015-classes",
    [
      "transform-es2015-modules-commonjs-simple",
      {
        "noMangle": true
      }
    ]
  ]
}