{
  "env": {
    "node": true,
    "jest": true
    // "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "parser": "babel-eslint",
  "rules": {
    "no-case-declarations": "warn",
    "no-unused-vars": "warn",
    "no-console": 0,
    "no-debugger": 1,
    "comma-dangle": 0,
    "no-dupe-keys": "error"
  },
  "extends": "eslint:recommended",
  "globals": {
    "Promise": true
  }
}